body {
    font-family: sans-serif, serif;
}

.recipe-page {
    background-color: #f2f283;
    padding-left: 20px;
    padding-bottom: 20px;
}

#main-header {
    font-size: 54px;
    background-color: rgb(192, 192, 0);
    text-align: center;
}

.list {
    list-style: none;
    font-size: 32px;
    text-align: center;
}

.recipes-list {
    color:rgba(0, 0, 0, 0.834);
    background-color: rgb(249, 150, 150);
}

.header {
    font-size: 42px;
    background-color: black;
    color:#f2f283;
    padding-left: 20px;
}

.header.description {
    font-size: 32px;
}

.header.ingredients {
    font-size: 24px;
}

img {
    height: auto;
    width: 300px;
}

.text {
    font-size: 20px;
}

li {
    padding-bottom: 10px;
}