* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, serif;
    background-color: #a8efeb;
    
}

.recipe-card {
    width: 800px;
    margin: 0 auto;
}

.recipe-page {
    background-color: #f2f283;
    padding-left: 20px;
    padding-bottom: 20px;
}

#main-header {
    font-size: 54px;
    background-color: black;
    color:#f2f283;
    text-align: center;
    border: 5px solid #f2f283;
    margin: 5px;
    padding: 10px;
}

.list {
    list-style: none;
    font-size: 32px;
    text-align: center;
}

.recipes-list {
    color:rgba(0, 0, 0, 0.834);
    background-color: #f2f283;
    border: 5px solid black;
    margin: 5px;
}

.header {
    font-size: 42px;
    background-color: black;
    color:#f2f283;
    padding-left: 20px;
}

.header.description {
    font-size: 32px;
}

.header.ingredients {
    font-size: 24px;
}

img {
    height: auto;
    width: 300px;
}

.text {
    font-size: 20px;
}

li {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.button-content {
    font-size: 32px;
    margin: 15px auto 5px;
    border: 5px solid black;
    padding: 5px;
    color: black;
    background-color: #f2f283;
}

.mainpage-img {
    margin: 50px auto;
    display: block;
}